<div>
    <title>Citas</title>
    <h1 style="text-align: center;">Listado de citas</h1>
    </div>
    <div><form>
    <p><input style="text-align: left;" form="" name="buscar" type="text" value="" /> <button> <img src="https://cdn.icon-icons.com/icons2/2566/PNG/512/search_icon_153438.png" width="13" height="13" /> </button></p>
    </form></div>
    <div>
    <table style="border-collapse: collapse; width: 89.4042%; height: 203px;" border="1">
    <tbody>
    <tr style="height: 18px;">
    <td style="width: 25.8285%; text-align: center; height: 10px;">N&uacute;mero de cita</td>
    <td style="width: 15.1072%; text-align: center; height: 10px;">Fecha</td>
    <td style="width: 9.06439%; text-align: center; height: 10px;">Hora</td>
    <td style="width: 25.6962%; text-align: center; height: 10px;">Nombre del paciente</td>
    <td style="width: 17.8711%; text-align: center; height: 10px;">Identificaci&oacute;n</td>
    <td style="width: 2.44943%; height: 10px; text-align: center;">Comentarios</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 25.8285%; text-align: center; height: 39px;">&nbsp;</td>
    <td style="width: 15.1072%; text-align: center; height: 39px;">&nbsp;</td>
    <td style="width: 9.06439%; text-align: center; height: 39px;">&nbsp;</td>
    <td style="width: 25.6962%; text-align: center; height: 39px;">&nbsp;</td>
    <td style="width: 17.8711%; text-align: center; height: 39px;">&nbsp;</td>
    <td style="width: 2.44943%; text-align: center; height: 39px;">A&ntilde;adir</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 25.8285%; text-align: center; height: 41px;">&nbsp;</td>
    <td style="width: 15.1072%; text-align: center; height: 41px;">&nbsp;</td>
    <td style="width: 9.06439%; text-align: center; height: 41px;">&nbsp;</td>
    <td style="width: 25.6962%; text-align: center; height: 41px;">&nbsp;</td>
    <td style="width: 17.8711%; text-align: center; height: 41px;">&nbsp;</td>
    <td style="width: 2.44943%; text-align: center; height: 41px;">A&ntilde;adir</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 25.8285%; text-align: center; height: 39px;">&nbsp;</td>
    <td style="width: 15.1072%; text-align: center; height: 39px;">&nbsp;</td>
    <td style="width: 9.06439%; text-align: center; height: 39px;">&nbsp;</td>
    <td style="width: 25.6962%; text-align: center; height: 39px;">&nbsp;</td>
    <td style="width: 17.8711%; text-align: center; height: 39px;">&nbsp;</td>
    <td style="width: 2.44943%; text-align: center; height: 39px;">A&ntilde;adir</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 25.8285%; text-align: center; height: 40px;">&nbsp;</td>
    <td style="width: 15.1072%; text-align: center; height: 40px;">&nbsp;</td>
    <td style="width: 9.06439%; text-align: center; height: 40px;">&nbsp;</td>
    <td style="width: 25.6962%; text-align: center; height: 40px;">&nbsp;</td>
    <td style="width: 17.8711%; text-align: center; height: 40px;">&nbsp;</td>
    <td style="width: 2.44943%; text-align: center; height: 40px;">A&ntilde;adir</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 25.8285%; text-align: center; height: 34px;">&nbsp;</td>
    <td style="width: 15.1072%; text-align: center; height: 34px;">&nbsp;</td>
    <td style="width: 9.06439%; text-align: center; height: 34px;">&nbsp;</td>
    <td style="width: 25.6962%; text-align: center; height: 34px;">&nbsp;</td>
    <td style="width: 17.8711%; text-align: center; height: 34px;">&nbsp;</td>
    <td style="width: 2.44943%; text-align: center; height: 34px;">A&ntilde;adir</td>
    </tr>
    </tbody>
    </table>
    </div>
    <div><button> Crear cita </button> <button> Editar cita</button> <button> Eliminar cita</button></div>
    <div><button> Crear comentario</button> <button> Editar comentario</button> <button> Eliminar comentario</button></div>