<div>
    <title>Listado de usuarios</title>
    <h1 style="text-align: center;">Usuarios</h1>
    </div>
    <div><select id="cars" name="tipo">
    <option value="todos">Todos</option>
    <option value="pacientes">Pacientes</option>
    <option value="med">M&eacute;dicos</option>
    </select><form>
    <p><input style="text-align: left;" form="" name="buscar" type="text" value="" /> <button> <img src="https://cdn.icon-icons.com/icons2/2566/PNG/512/search_icon_153438.png" width="13" height="13" /> </button></p>
    </form></div>
    <div>
    <table style="border-collapse: collapse; width: 89.4042%; height: 203px;" border="1">
    <tbody>
    <tr style="height: 18px;">
    <td style="width: 25.8285%; text-align: center; height: 10px;">Nombre</td>
    <td style="width: 15.1072%; text-align: center; height: 10px;">Identificaci&oacute;n</td>
    <td style="width: 9.06439%; text-align: center; height: 10px;">Tipo</td>
    <td style="width: 25.6962%; text-align: center; height: 10px;">Fecha de registro</td>
    <td style="width: 17.8711%; text-align: center; height: 10px;">Rol</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 25.8285%; text-align: center; height: 39px;">&nbsp;</td>
    <td style="width: 15.1072%; text-align: center; height: 39px;">&nbsp;</td>
    <td style="width: 9.06439%; text-align: center; height: 39px;">&nbsp;</td>
    <td style="width: 25.6962%; text-align: center; height: 39px;">&nbsp;</td>
    <td style="width: 17.8711%; text-align: center; height: 39px;">&nbsp;</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 25.8285%; text-align: center; height: 41px;">&nbsp;</td>
    <td style="width: 15.1072%; text-align: center; height: 41px;">&nbsp;</td>
    <td style="width: 9.06439%; text-align: center; height: 41px;">&nbsp;</td>
    <td style="width: 25.6962%; text-align: center; height: 41px;">&nbsp;</td>
    <td style="width: 17.8711%; text-align: center; height: 41px;">&nbsp;</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 25.8285%; text-align: center; height: 39px;">&nbsp;</td>
    <td style="width: 15.1072%; text-align: center; height: 39px;">&nbsp;</td>
    <td style="width: 9.06439%; text-align: center; height: 39px;">&nbsp;</td>
    <td style="width: 25.6962%; text-align: center; height: 39px;">&nbsp;</td>
    <td style="width: 17.8711%; text-align: center; height: 39px;">&nbsp;</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 25.8285%; text-align: center; height: 40px;">&nbsp;</td>
    <td style="width: 15.1072%; text-align: center; height: 40px;">&nbsp;</td>
    <td style="width: 9.06439%; text-align: center; height: 40px;">&nbsp;</td>
    <td style="width: 25.6962%; text-align: center; height: 40px;">&nbsp;</td>
    <td style="width: 17.8711%; text-align: center; height: 40px;">&nbsp;</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 25.8285%; text-align: center; height: 34px;">&nbsp;</td>
    <td style="width: 15.1072%; text-align: center; height: 34px;">&nbsp;</td>
    <td style="width: 9.06439%; text-align: center; height: 34px;">&nbsp;</td>
    <td style="width: 25.6962%; text-align: center; height: 34px;">&nbsp;</td>
    <td style="width: 17.8711%; text-align: center; height: 34px;">&nbsp;</td>
    </tr>
    </tbody>
    </table>
    </div>
    <div><button> Nuevo usuario </button> <button> Editar usuario</button> <button> Eliminar usuario</button></div>
    <div><button> Asignar rol</button> <button> Eliminar rol</button></div>